<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="title" content="사이트 제목">
    <meta name="keywords" content="키워드 입력" >
    <meta name="description" content="사이트 상세설명">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/import.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/style.js"></script>
    <title>[운영관리 메뉴명] - NH투자증권 ATMS</title>
</head>

<body id="sub" class="loading">
<div class="accessibility">
    <a href="#contents">본문 바로가기</a>
</div>

<hr>

<header id="header">
    <div class="wrap">
        <h1 class="logo"><span>라이나생명</span></h1>
        <div class="gnb_box">
			<h2 class="skip">사용자 로그인</h2>
            <ul class="clearfix">
			<li><a href="">개인정보</a></li>
			<li><a href="">로그아웃</a></li>
			</ul>
        </div>
		<!-- //gnb -->

		<nav id="lnb_box">
			<h2 class="skip">주메뉴</h2>
			<div id="lnb">
				<ul class="clearfix"><!-- 현재 선택된 메뉴에 클래스 on 추가 -->
					<li class="depth1"><a href="">관리자관리</a></li>
					<li class="depth1"><a href="" class="on">회원관리</a></li>
					<li class="depth1"><a href="">사이버창구</a></li>
					<li class="depth1"><a href="">보험상품관리</a></li>
					<li class="depth1"><a href="">홈페이지관리</a></li>
					<li class="depth1"><a href="">통계관리</a></li>
					<li class="depth1"><a href="">모바일관리</a></li>
					<li class="depth1"><a href="">상품몰관리(mall)</a></li>
					<li class="depth1"><a href="">Chatbot</a></li>
					<li class="depth1"><a href="">보장분석관리</a></li>
				</ul>
			</div>
		</nav>
		<!-- //lnb -->
    </div>
</header>
<!-- //header -->

<hr>

<div id="container">
    <div class="wrap">
        <div id="side">
			<div class="side_title"><span>상품몰관리(mall)</span></div>
            <nav class="side_menu">
                <h2 class="skip">서브메뉴</h2>
                <ul class="dep1">
                <li><a href="">사고보험금재처리</a></li>
                <li><a href="">고객정보변경</a></li>
                <li><a href="">납입정보변경</a></li>
                <li><a href="">사고보험금 상담신청_담당자 지정</a></li>
                </ul>
            </nav>
            <!-- //side_menu -->
        </div>
        <!-- //side -->

        <main class="colgroup" id="colgroup">
            <article>
                <header class="sub_head">
                    <div class="sub_title"><h2>납입정보 변경</h2></div><!-- 현재 페이지 메뉴 -->
					<div class="path">
						<span class="home">HOME</span>
						<span>사이버창구</span>
						<strong>납입정보 변경신청</strong>
					</div>
                </header>

                <div id="contents">




<p style="margin-top:200px;font-size:26px;text-align:center;">body 태그에 클래스 loading 추가 <br>로딩이 끝난 후에 body 태그에서 클래스 loading 삭제 </p>

                








                </div>
                <!-- //contents -->
            </article>
        </main>
        <!-- //main.colgroup -->
    </div>
    <!-- //wrap -->
</div>
<!-- //container -->

<hr>

<footer id="footer">
	<div class="wrap">
		<h2 class="skip">사이트 정보</h2>
		<p>Copyright 2022 ⓒ LINA Korea, a Cigna Company. All rights reserved. For more information, Contact webmaster@lina.co.kr</p>
	</div>
</footer>
<!-- //footer -->
</body>
</html>