<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="title" content="사이트 제목">
    <meta name="keywords" content="키워드 입력" >
    <meta name="description" content="사이트 상세설명">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/import.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/style.js"></script>
    <title>[운영관리 메뉴명] - NH투자증권 ATMS</title>
</head>
<body>
<div id="g_wrapper">

<header id="g_header">
	<h1 class="g_h1">라이나생명 <br>대고객 디지털채널 재구축사업</h1>
	<button type="button" class="g_header_open">좌측 메뉴 열기</button>
	<nav class="g_menu">
		
	</nav>
</header>

<div id="g_container">
	<main>
		<div id="g_contents">
		
<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">제목</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">제목서식 - <span>heading tag</span></h3>
			</div>
			<div class="g_info_box">
				<p>#contents 본문 영역에 들어가는 heading tag는 클래스를 주지 않고 사용한다.</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<h3>Heading</h3>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<h4>Heading</h4>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<h5>Heading</h5>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<h6>Heading</h6>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">제목서식 - <span>class</span></h3>
			</div>
			<div class="g_info_box">
				<p>heading tag와 같은 디자인 형태이지만 heading tag의 순서가 맞지 않는 경우 클래스를 주어 사용한다.(모든 태그 사용 가능)</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="h3">Heading</div>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="h4">Heading</div>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="h5">Heading</div>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="h6">Heading</div>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">제목서식 - <span>초기화</span></h3>
			</div>
			<div class="g_info_box">
				<p>heading tag의 스타일을 초기화해야 할 경우 클래스 h0 사용.</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<h3 class="h0">Heading</h3>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">콘텐츠 레이아웃</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->
		
<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">리스트</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">테이블</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">테이블 - <span>thead 가 있는 경우</span></h3>
			</div>
			<div class="g_info_box">
				<p>table 태그에 클래스 table 추가 하여 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="table_unit">[단위 : 백만원]</div>
<table class="table">
    <caption>테이블 제목 - 요약</caption>
    <colgroup>
        <col style="width:30%;">
        <col style="width:70%;">
    </colgroup>
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">제목</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tfoot>
</table>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">테이블 - <span>thead 가 없는 경우</span></h3>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<table class="table">
    <caption>테이블 제목 - 요약</caption>
    <colgroup>
        <col style="width:30%;">
        <col style="width:70%;">
    </colgroup>
    <tbody>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tbody>
</table>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">테이블 - <span>scroll이 필요한 경우</span></h3>
			</div>
			<div class="g_info_box">
				<p>table 태그를 table_scroll로 감싸서 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="table_scroll">
    <div class="table_unit">[단위 : 백만원]</div>
    <table class="table">
        <caption>테이블 제목 - 요약</caption>
        <colgroup>
            <col style="width:30%;">
            <col style="width:70%;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">제목</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">제목</th>
            <td>내용</td>
        </tr>
        <tr>
            <th scope="row">제목</th>
            <td>내용</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">제목</th>
            <td>내용</td>
        </tr>
        </tfoot>
    </table>
</div>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">테이블(type2) - <span>thead 가 있는 경우</span></h3>
			</div>
			<div class="g_info_box">
				<p>table 태그에 클래스 type2 추가</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="table_unit">[단위 : 백만원]</div>
<table class="table type2">
    <caption>테이블 제목 - 요약</caption>
    <colgroup>
        <col style="width:30%;">
        <col style="width:70%;">
    </colgroup>
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">제목</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tfoot>
</table>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">테이블(type2) - <span>thead 가 없는 경우</span></h3>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<table class="table type2">
    <caption>테이블 제목 - 요약</caption>
    <colgroup>
        <col style="width:30%;">
        <col style="width:70%;">
    </colgroup>
    <tbody>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    <tr>
        <th scope="row">제목</th>
        <td>내용</td>
    </tr>
    </tbody>
</table>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">버튼/링크/선</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">버튼 - <span>기본형 클래스 btn</span></h3>
			</div>
			<div class="g_info_box">
				<p>a, span, button, input 태그에 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<a href="" class="btn">버튼</a>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->
			<div class="g_cont_box">
				<div class="g_cont">
				
<button type="button" class="btn">버튼</button>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->
			<div class="g_cont_box">
				<div class="g_cont">
				
<input type="submit" value="버튼" class="btn">
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">버튼 - <span>라운드 클래스 btn</span></h3>
			</div>
			<div class="g_info_box">
				<p>a, span, button, input 태그에 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<a href="" class="btn">버튼</a>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->
			<div class="g_cont_box">
				<div class="g_cont">
				
<button type="button" class="btn">버튼</button>
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->
			<div class="g_cont_box">
				<div class="g_cont">
				
<input type="submit" value="버튼" class="btn">
				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">폰트/색상</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">정렬/여백/크기</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">가로/세로 정렬</h3>
			</div>
			<div class="g_info_box">
				<p>내부 inline 요소의 가로/세로 정렬할 때 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="text_left">왼쪽 정렬</div>
<div class="text_center">중알 정렬</div>
<div class="text_right">오른쪽 정렬</div>
<div class="vertical_top">세로 상단 정렬</div>
<div class="vertical_middle">세로 중앙 정렬</div>
<div class="vertical_bottom">세로 하단 정렬</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">여백 - <span>margin</span></h3>
			</div>
			<div class="g_info_box">
				<p>4의 배수로 사용(최대 40px)</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="margin_0">margin : 0</div>
<div class="margin_4">margin : 4px</div>
<div class="margin_8">margin : 8px</div>
<div class="margin_12">margin : 12px</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="margin_t_0">margin-top : 0</div>
<div class="margin_t_4">margin-top : 4px</div>
<div class="margin_t_8">margin-top : 8px</div>

<div class="margin_b_0">margin-bottom : 0</div>
<div class="margin_b_4">margin-bottom : 4px</div>
<div class="margin_b_8">margin-bottom : 8px</div>

<div class="margin_r_0">margin-right : 0</div>
<div class="margin_r_4">margin-right : 4px</div>
<div class="margin_r_8">margin-right : 8px</div>

<div class="margin_l_0">margin-left : 0</div>
<div class="margin_l_4">margin-left : 4px</div>
<div class="margin_l_8">margin-left : 8px</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">여백 - <span>padding</span></h3>
			</div>
			<div class="g_info_box">
				<p>4의 배수로 사용(최대 40px)</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="padding_0">padding : 0</div>
<div class="padding_4">padding : 4px</div>
<div class="padding_8">padding : 8px</div>
<div class="padding_12">padding : 12px</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->

			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="padding_t_0">padding-top : 0</div>
<div class="padding_t_4">padding-top : 4px</div>
<div class="padding_t_8">padding-top : 8px</div>

<div class="padding_b_0">padding-bottom : 0</div>
<div class="padding_b_4">padding-bottom : 4px</div>
<div class="padding_b_8">padding-bottom : 8px</div>

<div class="padding_r_0">padding-right : 0</div>
<div class="padding_r_4">padding-right : 4px</div>
<div class="padding_r_8">padding-right : 8px</div>

<div class="padding_l_0">padding-left : 0</div>
<div class="padding_l_4">padding-left : 4px</div>
<div class="padding_l_8">padding-left : 8px</div>

<div class="padding_rl_0">padding-right : 0 , padding-left : 0</div>
<div class="padding_rl_4">padding-right : 4px ,padding-left : 4px</div>
<div class="padding_rl_8">padding-right : 8px ,padding-left : 8px</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">가로 크기 - <span>(%)</span></h3>
			</div>
			<div class="g_info_box">
				<p>5의 배수로 사용</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				
<div class="width_5">width : 5%</div>
<div class="width_10">width : 10%</div>
<div class="width_15">width : 15%</div>
				
				</div>
				<div class="g_pre_box"></div>
			</div>
			<!-- //g_cont_box -->
		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">탭메뉴</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">박스</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->

<section class="g_section">
	<div class="g_title">
		<h2 class="g_h2">자주 쓰이는</h2>
	</div>
	<div class="g_contents_area">
		
		<div class="g_contents_box">
			<div class="g_tit">
				<h3 class="g_h3">Sample</h3>
			</div>
			<div class="g_info_box">
				<p>Sample</p>
			</div>
			<div class="g_cont_box">
				<div class="g_cont">
				

				
				</div>
				<div class="g_pre_box"></div>
				<div class="g_button_box">
					<button type="button" class="copy">소스 코드 복사</button>
				</div>
			</div>
			<!-- //g_cont_box -->

		</div>
		<!-- //g_contents_box -->

	</div>
</section>
<!-- //g_section -->
		
		
		
		</div>
		<!-- //s_contents -->
	</main>
</div>

<footer id="g_footer">

</footer>
</div>
</body>
</html>